In [1]:
t=(9,5,89,4,8)
print(max(t))
print(min(t))
print(sum(t))
print(sorted(t))

89
4
115
[4, 5, 8, 9, 89]

In [2]:
tup=("apple","byte","computer")
n=2
for i in range(n):
    print(tup[i])
    break

apple

In [1]:
tup=(3,7,'p','u',5,8)
print(tup[4])

5

In [3]:
tuple=(4,1)
print(all(tuple))

True

In [4]:
value_tup=(26,45,'hello',7.5)
value_tup
value_tup[2]="python"

TypeError: 'tuple' object does not support item assignment

In [5]:
value1=(26,45,'hello')
value2=(7,45,'hello')
value3=value1+value2
value3

(26, 45, 'hello', 7, 45, 'hello')

In [8]:
value=()
n=int(input())
list_1=[]
for i in range(n):
    list_1.append(int(input()))
value=tuple(list_1)

 4
 12
 10
 26
 6

TypeError: 'tuple' object is not callable

In [2]:
number=("one","two","three","four")
(a,b,c,d)=number
print(a)

one

In [3]:
number=("One","Two","Three","Four")
(a,*b,c)=number
print(a)
print(*b)
print(c)

One
Two Three
Four

In [ ]:
value_set={2,'PYTHON',